.sponsor img{
    height: 70px;
    margin-top: 30px;
}
.sponsors-cont{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}
.sponsor{
    text-align: center;
}
.cleaner-cont{
    padding: 140px 85px;
}
.cleaner-cont p{
    line-height: 24px;
}
.cleaner-cont .half25.half{
width: 28%;
margin-right: 10%;
}
.cleaner-cont .half .half-inner{
width: 50%;
}
.process-cont{
    background-color: #f0f0f0;
        padding: 55px 120px 155px;
}
.process-inner-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.process .upper{
    position: relative;
    padding: 90px;
    background-color: #fff;
    border-radius: 50%;

}
.process .lower{
    font-size: 24px;
    max-width: 222px;
}
.process .upper::after {
 content: url('img/right-chevron.svg');
 position: absolute;
 right: -29%;
 top:50%
}
.process:last-child .upper::after{
content: none;
}
.process img {
    width: 45px;
    height: 45px;
}
.join{
    text-align: center;
    margin-right: 60px;
}
.join:last-child{
    margin-right: 0px;
}
.fullwidth.about-us-illus{
    width: 70%;
}

@media screen and (max-width: 768px){
    .process-inner-cont{
        flex-direction: column;
    }
    .fullwidth.about-us-illus{
        width: 100%;
    }
    .cleaner-cont{
        padding: 20px;
        margin-top: 40px;
    }
    .process-cont{
        padding:55px 20px 50px;
    }
    .process{
        display: flex;
        
    }
    .paddingcontainer{
        padding: 50px 20px;
    }
    .join{
        margin-right: 0;
        text-align: left;
        margin-bottom: 55px;
    }
    .process .lower{
        display: flex;
    }
    .process .lower p{
        align-self: center;
        margin-top: -30px;
    }
    .process .upper::after{
        left: 50%;
        right: auto;
        top: 105%;
        transform: rotate(90deg);
    }
    .process .upper{
        margin-bottom: 45px;
        padding: 50px;
    }
    .sponsor p{
        display: none;
    }
    .sponsor img{
        margin-top: 0;
       height: 47px;
    }
    .cleaner-cont .half25.half{
        width: 100%;
        margin-bottom: 20px;
    }
}