.opening-table-cont h3{
    margin-bottom: 30px;
}
.opening-table-cont{
    margin-top: 155px;
}
.table-row.table-heading,.table-row.table-body{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
.table-row.table-heading{
    color:#8e8e8e;
    font-size: 18px;
  font-weight: 500;
  padding: 13px 0;
  border-bottom: solid 1px #979797;
  line-height: 1.33;
}
.table-row.table-body{
   color: #383737;
   padding: 26px 0;
   border-bottom: solid 1px #979797;
   background-image: url(/img/arrow-career.svg);
   background-position: center right;
   background-repeat: no-repeat;
   cursor: pointer;
}
.table-row.table-body:hover{
    color: #ee7623;
    background-image: url(/img/arrow-career-orange.svg);
 }
 .career-internal-cont{
     display: flex;
     margin-top: 80px;
     justify-content: space-between;
     margin-bottom: 150px;
 }
 .career-internal-cont h3{
margin-bottom: 20px;
margin-top: 50px;
 }
 .form-cont.half{
    /* margin-left: 10%; */
    width: 30%;
}
.evitech-link img{
    vertical-align: bottom;
    margin-right: 13px;
}
.back-link{
    color: #393939;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
}
.back-link img{
    vertical-align: sub;
    margin-right: 10px;
}
.pin-cont{
    color: #8e8e8e;
    margin-top: 20px;
}
.pin-cont span:first-child{
    margin-right: 40px;
}
.pin-cont span img{
    vertical-align: middle;
    margin-right: 10px;
}
.career-internal-cont .form-cont h3{
margin-top: 0;
}
 div.checkbox input[type=checkbox] {
    display: none;
}
 div.checkbox input[type=checkbox] + label {
    border: 2px solid #000;
    background: transparent;
    margin: 0px;
    cursor: pointer;
    position: relative;
    top: 4px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
    padding: 0px;
}
 div.checkbox input[type=checkbox] + label img {
    height: 10px;
    width: 10px;
    display: block;
    visibility: hidden;
}
div.checkbox input[type=checkbox]:checked + label img {
    visibility: visible;
}
 div.checkbox input[type=checkbox]:checked + label {
    background: #ee7623;
    border: 2px solid #ee7623;
}
.evitech-checkbox{
margin-top: 15px;
font-size: 18px;
color: #383737;
font-weight: normal;
margin-bottom: 25px;
}
.evitech-checkbox h5{
 margin-bottom: 15px;
}
.checkbox{
    margin-bottom: 8px;
}
.contact-internal-cont{
    /* display: flex; */
     margin-top: 80px;
     /* justify-content: space-between; */
     margin-bottom: 80px;
}
.contact-internal-cont .form-cont h3{
margin-bottom: 30px;
}
.contact-internal-cont h5{
    font-size: 18px;
    font-weight: 600;
  color: #393939;
}
.contact-internal-cont p{
    font-size: 18px;
    font-weight: normal;
  color: #393939;
}
.contact-internal-cont a{
    font-size: 18px;
    text-decoration: underline;
    font-weight: normal;
  color: #ee7623;
}
.checkbox{
    font-size: 18px;
    font-weight: normal;
  color: #393939;
}